__pycache__/
.idea/
.cache/
Tests/.cache/
Tests/.pytest_cache/
/.pytest_cache/
*.h5
*.ipynb
.ipynb_checkpoints
*.log
*.log.*
/venv
*.pb
*.zip
*.jpg
!Images/10.jpg
!Images/480.jpg
!Images/580.jpg
!Images/670.jpg
!Images/680.jpg
!Results/480.jpg
!Results/580.jpg
!Results/670.jpg
!Results/680.jpg